
*{
  margin: 0px;
  padding:0px;
}

.logo{
position:absolute;
top:2%;
left:41%;
display: none;
}
.imagem_inicial_pequeno{
   background-image: url("../imagens/header_madeira_small.jpg");
}
.botao_menu{
position:absolute;
top:35%;
left:40%;
width: 40%;
height: 30px;
border-radius: 5px; 
margin-left: -8%;
}
.botao_menu1{
position:absolute;
top:42%;
left:40%;
width: 40%;
height: 30px;
border-radius: 5px; 
margin-left: -8%;
}
.botao_menu2{
position:absolute;
top:49%;
left:40%;
width: 40%;
height: 30px;
border-radius: 5px; 
margin-left: -8%;
}
.botao_menu3{
position:absolute;
top:56%;
left:40%;
width: 40%;
height: 30px;
border-radius: 5px; 
margin-left: -8%;
}
.botao_menu4{
position:absolute;
top:63%;
left:40%;
width: 40%;
height: 30px;
border-radius: 5px; 
margin-left: -8%;
}
.div_imagem_inicial{
  margin-top: 1%;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  margin-bottom: -0.3%;
  background-color: rgba(0,0,0,0.5);
}
button:hover{
  background-color: black;
  color: #fff;
  border-color: black;
}
.logomarca_small{
position:absolute;
top:10%;
left:45%;
height: 100px;
border-radius: 50%; 
margin-left: -6%;
}
.links{
  text-decoration: none; 
  color: grey;

}
.menu_head{
  display: none;
}
ul {
    padding-top: 2%;
    list-style-type: none;
    overflow: hidden;
    float: right; 
}

li {
    float: left;


}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 12px 12px 12px 12px;
    text-decoration: none;

    
}

li a:hover {
    color: #104E8B;
    border-bottom: 1px solid grey;
}

.descri{
   

}
.descri:hover{


}

/* Standard syntax */
@keyframes animacao {
    
    0%  {top:0px;}
    50%  {top:20px;}
    
}


.quadrinho_agenda{
  
  background-color: transparent;
  width: 80%;
  margin-bottom: 10%;
  height: 350px;
  margin-left: 10.5%;
  box-shadow:3px 3px 3px 3px rgba(50, 50, 50, 50);
  
}
.quadrinho_agenda:hover{
  position: relative;
  -webkit-animation-name: animacao; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
  animation-name: animacao;
  animation-duration: 0.5s;
  animation-direction: reverse; 

  box-shadow:9px 9px 9px 9px rgba(50, 50, 50, 50);
}

.quadrinho_trabalhos{
  display: inline-block;
  background-color: transparent;
  width: 40%;
  margin-bottom: 4%;
  height: 30%;
  margin-left: 6%;
  
}
.quadrinho_trabalhos:hover{
  box-shadow:4px 4px 4px 0px #000000;
}

.foto_agenda{
  width: 100%;
}
.quadro_sobre_back{
  background-color: #000;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  margin-bottom: 20%;
  margin-top: 10%;
  text-align: center;
  background-image: url("../imagens/madeira_pequena.jpg");

}
p{
  font-size: 10px;
}

.quadro_sobre{
  background-color: rgba(0,0,0,0.8);
  color: white;
  height: 350px;
  margin-bottom: 20%;
  margin-top: 10%;
  text-align: center;
  box-shadow:9px 9px 9px 9px rgba(50, 50, 50, 50);

}
.desc_sobre{
  padding: 2%;
}
.sub_desc_sobre{
  margin-top: 2%;
  font-size: 14px;
}
.desc_foto_agenda{
padding: 2%;
}
.foto_henrique{
  height: 120px;
  margin-top: 3%;
  margin-left: 10%;
  border-radius: 4px; 
  box-shadow:4px 4px 4px 0px #000000;
  display: inline-block;
  float: left;
}
.desc_foto_henrique{
padding: 2%;
display: inline-block;
}
.displayer{
  margin-top: 4%;
}
}

.foto_perfil{
  display: inline-block;
  vertical-align: top;
  margin-top:8%;
  background-color: black;
  width: 9%;
  margin-bottom: 10%;
  margin-left: 14%;
  height:auto;
  border-radius: 10px;
  box-shadow:9px 7px 5px rgba(50, 50, 50, 0.77);
}
.desc_foto_perfil{
  display: inline-block;
  vertical-align: top;
  margin-top: 6%;
  padding: 2%;
  width: 40%;
  margin-bottom: 10%;
  margin-left: 2%;
  height: auto;
  border-radius: 10px;
}

.contato{
  display: inline-block;
  vertical-align: top;
  margin-top: 0%;
  padding: 2%;
  width: 20%;
  margin-bottom: 10%;
  margin-left: 0%;
  height: auto;
  border-radius: 10px;
}
.item
{
  margin-top: 25%;
}
.imge_cabecalho{
  display: none;
}
/*Tarefas*/
body{
   /*background-color: #E8E8E8;*/
}
.div_inicio{
  margin-top: 2%;
  width: auto;
  height: 14%;
  

}
.img_header{


  margin-top: 1%;
  height: 400px;
  width: 100%;
  border-radius: 0px;
  margin-bottom: -0.3%;
  box-shadow:4px 4px 4px 4px rgba(50, 50,50, 50);

}
.div_header{
	height: auto;
	width: 100%;
	border-radius: 3px;
  font-family: Andale Mono, monospace;

}

.div_header h1{
  padding-top: 3%;
  font-size: 30px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}


.foto{
  margin-top:0%;
  background-color: black;
	width: 100%;
	height: 200px;
	border-radius: 10px;
}
.conteudo{
  margin-top: 5%;
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  transition:2s;
  margin-left: auto;
  margin-right: auto;
  color: #696969;
  font-family: Andale Mono, monospace;
}
.titulo_inicial{
  text-align: center;
}
.conteudo-20{
  display: inline-block;
  vertical-align: top;
  width:20%;
  height:auto;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 1.5%;
}
.titu{
  text-align: center;
  font-size: 18px;
  margin-bottom: 10%;
  margin-top: 7%;
  padding-top: 3%;
}
.titu_sobre{
  text-align: center;
  font-size: 20px;
  margin-bottom: 0%;
  margin-top: 7%;
  padding-top: 3%;
}

.conteudo-25{
  display: inline-block;
  width:25%;
  margin-top: 1.5%;
  height:auto;
  border-radius: 10px;

}

.conteudo-25_1{
  display: inline-block;
  vertical-align: top;
  width:25%;
  margin-bottom: 10%;
  height:auto;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.conteudo-55{
  display: inline-block;
  vertical-align: top;
  width:51%;
  height:auto;
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: ;
}
.conteudo-55 h1{
  padding-bottom: 10px;
  padding-top: 20px;
}

.quadro_tarefas{
  height: 10%;
  width: 90%;
  margin-top: 7px;
  margin-left: 4%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  border-style: outset;
  border-color: #778899;
}


.quadro_dentro{
  margin: 7px;
  padding-bottom: 2%;
}

.botao_excluir{
margin-top:1%; 
background-color: #CD3700;
border-radius: 5%;
width: 14%;
height: 17%;
float: right;
border: 0px solid #fff;
}

.botao_fazer{
margin-top:1%; 
background-color: #B0E2FF;
border-radius: 3px;
width: 14%;
height: 10%;
float: right;
border: 0px solid #fff;
margin-right: 1%;
}

.rodape { 
  width: 100%;
  height:30px ;
  border-radius: 3px;
  margin-top: 10%;
  margin-bottom: 0%;
  text-align:center;
  bottom: 0;
  text-align: center;
} 

@media screen and (min-width: 412px){
  .quadrinho_agenda{
  display: inline-block;
  height: 400px;

}
.logomarca_small{
  margin-left: 2%;


}
}
@media screen and (min-width: 502px){
  .quadrinho_agenda{
  display: inline-block;
  height: 460px;

}

}








